*.local
config/tmux/plugins
config/zsh/.zsh_plugins.zsh
config/vim/autoload
config/vim/plug
config/beets/state.pickle
config/cmus/autosave
config/cmus/cache
config/cmus/cmusfm.conf
config/cmus/cmusfm.socket
config/cmus/cmusfm.cache
config/cmus/command-history
config/cmus/lib.pl
config/cmus/playlists
config/cmus/search-history
config/vis/vis-plug
config/crankshaft
!config/crankshaft/config/settings.json
