*.local
config/beets/state.pickle
config/cmus/autosave
config/cmus/cache
config/cmus/cmusfm.cache
config/cmus/cmusfm.conf
config/cmus/cmusfm.socket
config/cmus/command-history
config/cmus/lib.pl
config/cmus/playlists
config/cmus/search-history
config/cmus/cache.tmp
config/zsh/.zsh_plugins.zsh
