configuration {
  case-sensitive: false;
  show-icons: true;
  display-drun: " ";
  display-window: "";
}
entry {
  placeholder: "Search...";
}

#window {
  width: 40%;
  height: 60%;
  padding: 6.4px;
}

#window, element {
 border-radius: 10px;
}

element {
  padding: 6.4px;
}

/*
vim: ft=css
*/
